---
apiVersion: v1
kind: Namespace
metadata:
  name: demo
  labels:
    {{- if .Values.metadata.labels }}
{{ toYaml .Values.metadata.labels | indent 4 }}
    {{- end }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: demo
    server: {{ .Values.spec.destination.server }}
  project: {{ .Values.project }}
  source:
    path: charts/demo
    repoURL: https://github.com/drdkadtr/helm-charts.git
    targetRevision: {{ .Values.spec.source.targetRevision }}
    helm:
      version: v3
      values: |
        ingress:
          enabled: true
          className: ""
          annotations:
            kubernetes.io/ingress.class: nginx
            # kubernetes.io/tls-acme: "true"
          hosts:
            - host: demo.local
              paths:
                - path: /
                  pathType: ImplementationSpecific
          tls: []
  syncPolicy:
    automated: # automated sync by default retries failed attempts 5 times with following delays between attempts ( 5s, 10s, 20s, 40s, 80s ); retry controlled using `retry` field.
      prune: true # Specifies if resources should be pruned during auto-syncing ( false by default )
