# https://helm.sh/docs/howto/chart_releaser_action/#github-actions-workflow
name: Release Charts

on:
  push:
    branches:
      - main
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.2.1
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Confirm helm repo listings
        run: |
          helm repo add "${{ env.repo }}" "https://${{ env.repo }}.github.io/helm-charts/"
          helm repo update
          helm search repo "${{ env.repo }}"
        env:
          repo: 'drdkadtr'
